# Introduction

Maps allow us to transform data in a DataFrame or Series one value at a time for an entire column. However, often we want to group our data, and then do something specific to the group the data is in. 

As you'll learn, we do this with the `groupby()` operation.  We'll also cover some additional topics, such as more complex ways to index your DataFrames, along with how to sort your data.


# Groupwise analysis

One function we've been using heavily thus far is the `value_counts()` function. We can replicate what `value_counts()` does by doing the following:

In [1]:

import pandas as pd
reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [3]:
reviews.groupby('points').points.count()

points
80     397
81     689
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

`groupby()` created a group of reviews which allotted the same point values to the given wines. Then, for each of these groups, we grabbed the `points()` column and counted how many times it appeared.  `value_counts()` is just a shortcut to this `groupby()` operation. 

We can use any of the summary functions we've used before with this data. For example, to get the cheapest wine in each point value category, we can do the following:

In [5]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

# Your turn

In [13]:
reviews.groupby(['points', 'price']).points.count()

points  price
80      5.0       2
        6.0       3
                 ..
100     848.0     1
        1500.0    2
Name: points, Length: 2313, dtype: int64

In [15]:
reviews.groupby('points').count()

,country,description,designation,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,dupe?
points,,,,,,,,,,,,,
80,397,397,250,395,397,328,136,275,271,397,397,397,0
81,689,689,405,677,689,581,292,431,421,689,689,689,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,33,33,29,28,33,31,12,21,21,33,33,33,0
100,19,19,13,19,19,17,4,14,14,19,19,19,0