# ***Common Number Functions***

In [ ]:
from math import sqrt
from math import log

In [ ]:
floatNum = 5.6
int(floatNum)

5

In [ ]:
intNum = 4
float(intNum)

4.0

In [ ]:
negNum = -8
abs(negNum)

8

In [ ]:
# Compare between to numbers -1 if first<second, 0 if first=second, 1 if first>second
#cmp(floatNum, intNum)
# Only available in python 2

In [ ]:
# return square root , but you have first to import it from math library
sqrt(intNum)

2.0

In [ ]:
# return the natural logarithm , but you have first to import it from math library
log(intNum)

1.3862943611198906

In [ ]:
# return negNum**intNum 'negNum power intNum'
pow(negNum,intNum)

4096

# ***IMPORTANT STRING METHODS IN PYTHON PROGRAMMING***

In [ ]:
str1 = 'string, string!'
# return all the letter of the string upper case
str1.upper()

'STRING, STRING!'

In [ ]:
# lstrip() : only removes characters to the beggining 'left of the string'
str2 = "###Hello, World!###"
str2.lstrip('#')

'Hello, World!###'

In [ ]:
# returns the first index of the specified string
str3 = "Hello, welcome to the world of Python. Python is great!"
print(str3.find("Python"))
print(str3.find("Python", 38, -1)) # limit search with index
print(str3.find("Java")) # if not found it returns -1

31
39
-1

In [ ]:
# rfind returns the highest 'right' index of the specified string
print(str3.rfind("Python"))
print(str3.rfind("Python", 0, 38)) # limit search with index
print(str3.rfind("Java")) # if not found it returns -1

39
31
-1

In [ ]:
# replace an old word with a new word
print(str3.replace("Python","Java"))
# you can also specify the number of replaced words
print(str3.replace("Python","Java",1))

Hello, welcome to the world of Java. Java is great!
Hello, welcome to the world of Java. Python is great!

In [ ]:
# rsplit : to split a text into a list from the left
str4 = "apple,banana,orange,grape"
resultList1 = str4.split(",")
print(resultList1)
# you can also specify the number of splits
resultList2 = str4.split(",",1)
print(resultList2)

['apple', 'banana', 'orange', 'grape']
['apple', 'banana,orange,grape']

In [ ]:
# rsplit : to split a text into a list from the right
resultList3 = str4.rsplit(",")
print(resultList3)
# you can also specify the number of splits
resultList4 = str4.rsplit(",",1)
print(resultList4)

['apple', 'banana', 'orange', 'grape']
['apple,banana,orange', 'grape']

In [ ]:
# check if the string starts with the specified character
str1.startswith("s")

False

In [ ]:
# check if the string starts with the specified character
str1.endswith("!")

True

In [ ]:
# strip() : removes the character from the string
str5 = "###Hello, World!###"
str5.strip('#')

'Hello, World!'

In [ ]:
# makes the first letter capital in all the words
str1.title()

'String, String!'

In [ ]:
# split the list into a list where every line is a list item
str6 = "Hello,\n welcome to the world of Python.\n Python is great!"
resultList5 = str6.splitlines()
print(resultList5)

['Hello,', ' welcome to the world of Python.', ' Python is great!']

In [ ]:
# lower() and casefold() both make the string's character in a lower case
# but casefold is more aggressive
str7 = "StraÃŸe"
print(str7.lower())
print(str7.casefold())

straÃŸe
strasse

In [ ]:
# make only the first character of the string capital
str1.capitalize()

'String, string!'

In [ ]:
# used to align string in the center within a given width with a specified character
print(str1.center(40))
print(str1.center(30,'-'))

            String, string!
-------String, string!--------

In [ ]:
# counts how many times this character appeared in the string
str6.count('e')

5

In [ ]:
# used to encode a string using a specified encoding scheme, default is 'utf-8'
str8 = "Hello World! ðŸ˜Š"
print(str8.encode())
# the emoji character is ignored because it cannot be encoded using ASCII
print(str8.encode(encoding='ascii', errors='ignore'))

b'Hello World! \xf0\x9f\x98\x8a'
b'Hello World! '

In [ ]:
# used to concatenate and manipulate text
str9 = "Hello, {}. Welcome to {}!"
formatted_str = str9.format("Alice", "Python")
print(formatted_str)

Hello, Alice. Welcome to Python!

In [ ]:
# returns the index of the first character of the word
# if the searched value is not found in the string it gives an error
str8.index("World")

6

In [ ]:
# checks if all the characters in the string are numbers
str10 = "12345"
str10.isalnum()

True

In [ ]:
# checks if all the characters in the string are alphabets
str11 = "Farida"
str11.isalpha()

True

In [ ]:
# checks if if all characters in the string are decimal
str10.isdecimal()

True

In [ ]:
# checks if if all characters in the string are digits
str10.isdigit()

True

In [ ]:
# used to check if a string is a valid identifier
# An identifier is a name used to identify a variable,function,class,... in code
str13 = "variable1"
str14 = "1variable"
print(str13.isidentifier())
print(str14.isidentifier())

True
False

In [ ]:
# checks if all the characters are in lower case
str13.islower()

True

In [ ]:
# checks if all the characters are numbers
str10.isnumeric()

True

In [ ]:
# checks if the string is space only
print(str13.isspace())
str15 = " "
print(str15.isspace())

False
True

In [ ]:
# checks if the string is written as a title means
print(str8.istitle())
print(str13.istitle())

True
False

In [ ]:
# checks if all the characters are printable
# unprintable characters : \n , \t
print(str14.isprintable())
print(str6.isprintable())

True
False

In [ ]:
# checks if all the characters are in lower case
str13.isupper()

False

In [ ]:
# used to concatenate the elements of an iterable (like a list or tuple) into a single string
# separator.join(words)
str15.join(resultList3)

'apple banana orange grape'

# **Bitwise**

In [ ]:
a = 5 # 0b0101
b = 3 # 0b0011
# bin() function used to convert numbers to binary code
print(bin(a))
print(bin(b))

0b101
0b11

In [ ]:
andResult = a & b # 0b0001
print(andResult)
print(bin(andResult))

1
0b1

In [ ]:
orResult = a | b # 0b0111
print(orResult)
print(bin(orResult))

7
0b111

In [ ]:
xorResult = a ^ b # 0b0110
print(xorResult)
print(bin(xorResult))

6
0b110

In [ ]:
notResult = ~ a # 0b1010 in 2's complement
print(notResult)
print(bin(notResult))

-6
-0b110

In [ ]:
rightShift = a << 1 # will be shifted right by 1 0b1010
print(rightShift)
print(bin(rightShift))

10
0b1010

In [ ]:
leftShift = a >> 1 # will be shifted left by 1 0b0010
print(leftShift)
print(bin(leftShift))

2
0b10